*{
    padding: 0px;
    margin:0px;
    font-family:'Inter', sans-serif;
}

.nav{
    padding: 20px;
    display: flex;
    background-color:black;
}

.nav a{
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    text-align: center;
}

.nav a:hover{
    background-color: white;
    color: black;
}

.hero{
    background-image:url('../images/StockCake-Coding\ on\ Laptop_1744267250.jpg');
    background-color:rgba(0, 0, 0, 0.45);
    background-blend-mode:darken;
    padding: 180px;
    color: white;
    text-align: center;
}

.btn-outline-dark{
    border-color:white;
    color: white;
   
}

.btn-outline-dark:hover{
        background-color:white;
        border-color: white;
        color: black;
}

#img01{
    border-radius: 20px;
}

.about{
    text-align: center;
}
.about p{
    margin-top:5px;
    padding: 20px;
}

h1{
    text-align: center;
    margin-top: 30px;

}




@media screen and (max-width: 768px) {
    .nav {   
      flex-direction: column;
    }

    .hero{
        padding: 100px;
        background-position: center;
       
    
    }

    .about p{
        margin-top:5px;
    }

    
  }


