*{
    padding: 0px;
    margin:0px;
}

.nav{
    padding: 20px;
    display: flex;
    background-color:black;


}

.nav a{
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    text-align: center;
   


}



.nav a:hover{
    background-color: white;
    color: black;
}

.hero{
    padding: 60px;
    background-color: blue;
    padding: 80px;
    text-align: center;

}




@media screen and (max-width: 700px) {
    .nav {   
      flex-direction: column;
    }

    .hero{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
  }


